:root{
    --txt: #483d40;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.8fr 3fr;
}

.dashboard{
    font-size: 1.5rem;
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    padding-left: 22%;
    padding-top: 5%;
    gap: 90px;
}

.dashboard ul{
    font-size: 1.1rem;
    list-style: none;
    display: grid;
    gap: 14%;
}



.header{
    background-color: blanchedalmond;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sidebar{
    background-color: aliceblue;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}